<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718735383345-ijkjn0q4a112ej25fi5u4u2ssmc2s69i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718735383345-ijkjn0q4a112ej25fi5u4u2ssmc2s69i</string>
	<key>API_KEY</key>
	<string>AIzaSyAYmJ5Q34Uk2dvf_RYspq28h_PiydWCG4M</string>
	<key>GCM_SENDER_ID</key>
	<string>718735383345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firestorecrudexr</string>
	<key>PROJECT_ID</key>
	<string>firestorecrudexr</string>
	<key>STORAGE_BUCKET</key>
	<string>firestorecrudexr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718735383345:ios:8d43f348746cae5c19ae10</string>
</dict>
</plist>